NODE_ENV=development
SERVER_TIMEOUT=108000
SERVER_PORT=3000
API_GATEWAY_PORT=8000
SERVER_NAME=sample-service
SERVICE_NAME=sample-service
SERVICE_PORT=3100

COMPOSE_PROJECT_NAME=sample-service

CONSUL_HOST=localhost
CONSULPORT=8500
CONSUL_TOKEN=a181aca3-b973-9dc7-8529-020920394a7b


DATABASE_HOST=postgres
DATABASE_TYPE=postgres
DATABASE_PORT=5432
DATABASE_CONTAINER_PORT=6438
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=snp@123456
DATABASE_NAME=wms_produce
DATABASE_CONNECTION_TIME_OUT=150000
DATABASE_ACQUIRE_TIME_OUT=150000
DATABASE_CONNECTION_LIMIT=20

SALE_SERVICE_PORT=3000
SALE_SERVICE_HOST=sale-service

ITEM_SERVICE_PORT=3000
ITEM_SERVICE_HOST=item-service

USER_SERVICE_PORT=3000
USER_SERVICE_HOST=user-service